<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">
    <b class="text-white px-md-2 mt-7">
      <span style="font-size: 34px;">
        <i class="fas fa-user-circle"></i>
      </span>
      User Lists
    </b>
  </a>
</nav>

<!-- Container for search box and button -->
<div class="d-flex justify-content-end mt-3 me-3">
  <div class="d-flex me-2">
    <input class="form-control border-dark" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="searchText" />
  </div>

  <button class="btn btn-success" (click)="addUser()">
    <i class="fa-solid fa-plus"></i>
    Add
  </button>
</div>

<div class="container mt-3">
  <table class="table table-bordered" id="crudTable">
    <thead>
      <tr>
        <th>img</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Mobile</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of searchList() | paginate: { itemsPerPage: 2, currentPage: page };let i=index">
        <td>{{ user.img }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.country }}</td>
        <td>
          <a class="icon-edit" (click)="editData(user)">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a class="icon-trash">
            <i class="fa-solid fa-trash" (click)=" DeleteAlert(i)"></i>
          </a>
          <a class="icon-eye" (click)="viewData(user)">
            <i class="fa-regular fa-eye"></i>
          </a>
          <button class="btn btn-primary" type="button" (click)="updateData()" *ngIf="isUpdating">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mb-4 mt-4">
    <span *ngIf="searchList().length === 0">
      <h5>
        {{"No record found"}}
      </h5>
    </span>
  </div>

  <div class="page">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <div class="col">
    <p class="record">Total Record : {{!searchText ? users.length :
      forSearch.length}}</p>
  </div>
  
</div>
